## Using NLTK Library

In [1]:
import nltk
import pandas as pd

In [2]:
f = open('./SampleData/sample_text.txt', 'r')
text = f.read()

In [3]:
text[:200]

'artificial intelligence (AI), the ability of a digital computer or computer-controlled robot to perform tasks commonly associated with intelligent beings. The term is frequently applied to the project'

Word based approach

In [4]:
words = nltk.word_tokenize(text)

In [5]:
#Part of speech tagging
pos_tags = nltk.pos_tag(words)
pos_tags[:5]

[('artificial', 'JJ'),
 ('intelligence', 'NN'),
 ('(', '('),
 ('AI', 'NNP'),
 (')', ')')]

In [6]:
nltk.help.upenn_tagset('NNP')

NNP: noun, proper, singular
    Motown Venneboerger Czestochwa Ranzer Conchita Trumplane Christos
    Oceanside Escobar Kreisler Sawyer Cougar Yvette Ervin ODI Darryl CTCA
    Shannon A.K.C. Meltex Liverpool ...

In [7]:
#Chunking
chunks = nltk.ne_chunk(pos_tags, binary=False)
entities = []
labels = []
for chunk in chunks:
    if hasattr(chunk, 'label'):
        entities.append(' '.join(c[0] for c in chunk))
        labels.append(chunk.label())

entities_labels = list(set(zip(entities, labels)))
entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ['Entities', 'labels']
entities_df

    Entities        labels
0         AI           GPE
1         AI  ORGANIZATION
2  DataRobot  ORGANIZATION
3      Sphex           GPE

Sentence Based

In [8]:
entities = []
labels = []

sentences = nltk.sent_tokenize(text)
for sent in sentences:
    pos_tags = nltk.pos_tag(nltk.word_tokenize(sent))
    for chunk in nltk.ne_chunk(pos_tags, binary=False):
        if hasattr(chunk, 'label'):
            entities.append(' '.join(c[0] for c in chunk))
            labels.append(chunk.label())
entities_labels = list(set(zip(entities, labels)))
entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ['Entities', 'labels']
entities_df

     Entities        labels
0          AI           GPE
1   Inductive           GPE
2          AI  ORGANIZATION
3   DataRobot  ORGANIZATION
4    Research           GPE
5  Artificial           GPE
6       Sphex           GPE

In [9]:
def get_named_entities(text, binary=True):
    entities = []
    labels = []
    sentences = nltk.sent_tokenize(text)
    for sent in sentences:
        pos_tags = nltk.pos_tag(nltk.word_tokenize(sent))
        for chunk in nltk.ne_chunk(pos_tags, binary=binary):
            if hasattr(chunk, 'label'):
                entities.append(' '.join(c[0] for c in chunk))
                labels.append(chunk.label())
    entities_labels = list(set(zip(entities, labels)))
    entities_df = pd.DataFrame(entities_labels)
    entities_df.columns = ['Entities', 'labels']
    return entities_df

In [10]:
text2 = '''Global warming or climate change has today become a major threat to the mankind. The Earth’s temperature is on the rise and there are various reasons for it such as greenhouse gases emanating from carbon dioxide (CO2) emissions, burning of fossil fuels or deforestation. Recent years have been unusually warm, causing worldwide concern. But the fact is that the increase in carbon dioxide actually began in 1800, due to the deforestation of a large chunk of North-eastern American, besides forested parts of the world. The things became worse with emissions in the wake of the industrial revolution, leading to increase in carbon dioxide level by 1900.The sea levels are constantly rising as fresh water marshlands, low-lying cities, and islands have been inundated with seawater
There have been changes in rainfall patterns, leading to droughts and fires in some areas, and flooding in other areas.
Ice caps are constantly melting posing a threat to polar bears as their feeding season stands reduced.
Glaciers are gradually melting.
Animal populations are gradually vanishing as there has been a widespread loss of their habitat.'''

In [11]:
get_named_entities(text2)

   Entities labels
0    Global     NE
1     Earth     NE
2    Animal     NE
3  American     NE
4       CO2     NE

## Using Spacy Library

In [12]:
import spacy

In [16]:
!python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.4.1
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl (12.8 MB)
     -------------------------------------- 12.8/12.8 MB 139.4 kB/s eta 0:00:00
Requirement already satisfied: spacy<3.5.0,>=3.4.0 in c:\users\acer\anaconda3\lib\site-packages (from en-core-web-sm==3.4.1) (3.4.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.4.5)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.0.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.0.9)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.27.1)
Requirement already satisfied: jinja2 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.11.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.0.10)
Requirement already satisfied: setuptools in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (61.2.0)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (8.1.5)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.0.8)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.3.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (4.64.0)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (21.3)
Requirement already satisfied: pathy>=0.3.5 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.6.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.0.8)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.4.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.0.7)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.10.2)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.10.1)
Requirement already satisfied: numpy>=1.15.0 in c:\users\acer\anaconda3\lib\site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.21.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\acer\anaconda3\lib\site-packages (from packaging>=20.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in c:\users\acer\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (5.2.1)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\acer\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (4.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\acer\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\acer\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.0.4)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\acer\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.0.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in c:\users\acer\anaconda3\lib\site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.7.9)
Requirement already satisfied: colorama in c:\users\acer\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\acer\anaconda3\lib\site-packages (from typer<0.5.0,>=0.3.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (8.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\acer\anaconda3\lib\site-packages (from jinja2->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.0.1)
Installing collected packages: en-core-web-sm
Successfully installed en-core-web-sm-3.4.1
[+] Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

2022-11-03 15:23:50.293237: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2022-11-03 15:23:50.293276: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-11-03 15:23:53.753147: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2022-11-03 15:23:53.753507: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cublas64_11.dll'; dlerror: cublas64_11.dll not found
2022-11-03 15:23:53.753850: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cublasLt64_11.dll'; dlerror: cublasLt64_11.dll not found
2022-11-03 15:23:53.754203: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cufft64_10.dll'; dlerror: cufft64_10.dll not found
2022-11-03 15:23:53.754547: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'curand64_10.dll'; dlerror: curand64_10.dll not found
2022-11-03 15:23:53.754888: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cusolver64_11.dll'; dlerror: cusolver64_11.dll not found
2022-11-03 15:23:53.755225: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cusparse64_11.dll'; dlerror: cusparse64_11.dll not found
2022-11-03 15:23:53.755576: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudnn64_8.dll'; dlerror: cudnn64_8.dll not found
2022-11-03 15:23:53.755590: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1934] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [17]:
nlp = spacy.load('en_core_web_sm')

In [18]:
doc = nlp(text)

entities = []
labels = []
position_start = []
position_end = []

for ent in doc.ents:
    entities.append(ent)
    labels.append(ent.label_)
    position_start.append(ent.start_char)
    position_end.append(ent.end_char)

df = pd.DataFrame({'Entities': entities, 'Labels':labels, 'Position_Start': position_start, 'Position_End':position_end})
df

            Entities    Labels  Position_Start  Position_End
0               (AI)       ORG              25            27
1       (the, 1940s)      DATE             430           439
2       (tasksâ€”as)       ORG             525           535
3            (Sphex)    PERSON            1400          1405
4            (first)   ORDINAL            1478          1483
5   (a, few, inches)  QUANTITY            1704          1716
6               (AI)       GPE            2117          2119
7               (AI)       ORG            3609          3611
8              (one)  CARDINAL            3969          3972
9        (DataRobot)       ORG            4143          4152
10              (AI)       ORG            4193          4195
11       (DataRobot)       ORG            4460          4469
12              (AI)       ORG            4505          4507
13       (DataRobot)       ORG            4679          4688
14              (AI)       ORG            4708          4710
15              (AI)       ORG            4801          4803

In [19]:
def combine_elements(x):
    s = ''
    for e in x:
        s += str(e)+" "
    return s

In [20]:
def get_named_entities(text):
    nlp = spacy.load('en_core_web_sm')
    doc = nlp(text)
    entities = []
    labels = []
    position_start = []
    position_end = []

    for ent in doc.ents:
        entities.append(ent)
        labels.append(ent.label_)
        position_start.append(ent.start_char)
        position_end.append(ent.end_char)

    df = pd.DataFrame({'Entities': entities, 'Labels':labels, 'Position_Start': position_start, 'Position_End':position_end})
    df['Entities'] = df['Entities'].apply(combine_elements)
    return df

In [21]:
get_named_entities(text2)

           Entities    Labels  Position_Start  Position_End
0            today       DATE              37            42
1            Earth        LOC              85            90
2     Recent years       DATE             271           283
3             1800       DATE             407           411
4  North - eastern        LOC             458           471
5         American       NORP             472           480
6         1900.The   CARDINAL             647           655
7         Glaciers       NORP            1003          1011